<?xml version="1.0" encoding="utf-8"?>

<config>

  <window width="1024" height="768" title="DrinkAndDrive"/>

  <game total_time="15">
    <best_score id="Arek" score="10" time="15"/>

    <animation>
      <coins frame_nr="10" max_frame_time="65" width="218" height="218"/>
      <beers frame_nr="16" max_frame_time="100" width="218" height="218"/>
      <cars>
        <car id="0"  name="Car"        texture_rect="0 0 90 168"      damage_rect="0 0 76 168"  acceleration="2000 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="1"  name="Car"        texture_rect="0 202 92 182"    damage_rect="0 0 75 182"  acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="2"  name="Car"        texture_rect="3 414 84 174"    damage_rect="0 0 74 174"  acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="3"  name="Taxi"       texture_rect="142 0 82 168"    damage_rect="0 0 70 168"  acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="4"  name="Police"     texture_rect="128 210 82 170"  damage_rect="0 0 70 170"  acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="5"  name="Car"        texture_rect="124 420 88 166"  damage_rect="0 0 74 166"  acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="6"  name="Ambulance"  texture_rect="275 0 92 190"    damage_rect="0 0 80 190"  acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="7"  name="Autobus"    texture_rect="246 213 136 374" damage_rect="0 0 116 374" acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="8"  name="Bus"        texture_rect="412 0 94 216"    damage_rect="0 0 82 216"  acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="9"  name="Truck"      texture_rect="390 242 136 346" damage_rect="0 0 108 346" acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="10" name="Medium_Car" texture_rect="554 0 86 216"    damage_rect="0 0 80 216"  acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="11" name="Fire_Truck" texture_rect="543 241 112 348" damage_rect="0 0 100 348" acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="12" name="Car"        texture_rect="692 0 86 168"    damage_rect="0 0 76 168"  acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
        <car id="13" name="Truck"      texture_rect="672 200 128 386" damage_rect="0 0 108 386" acceleration="400 400" deceleration="100 100" max_velocity="1000 1000"/>
      </cars>
    </animation>
    
    <sobering_up step_time="5000" step_alkohol_level="0.1"/>
  </game>

  <players>
    <player id="Arek" score="10" time="15"/>
  </players>

</config>