<?xml version="1.0" encoding="utf-8"?>

<config>

  <window width="1024" height="768" title="DrinkAndDrive"/>

  <game total_time="15">
    <best_score id="Arek" score="10" time="15"/>

    <animation>
      <coins frame_nr="10" max_frame_time="65" width="218" height="218"/>
      <beers frame_nr="16" max_frame_time="100" width="218" height="218"/>
      <cars>
        <car id="0"  name="Car" texture_rect="0 0 66 124" damage_rect="0 0 56 124"/>
        <car id="1"  name="Car" texture_rect="0 147 66 134" damage_rect="5 147 56 134"/>
        <car id="2"  name="Car" texture_rect="0 303 65 127" damage_rect="6 303 53 127"/>
        <car id="3"  name="Taxi" texture_rect="104 0 60 124" damage_rect="108 0 52 124"/>
        <car id="4"  name="Police" texture_rect="93 154 60 124" damage_rect="97 154 52 124"/>
        <car id="5"  name="Car" texture_rect="90 306 66 123" damage_rect="96 306 55 123"/>
        <car id="6"  name="Ambulance" texture_rect="200 0 68 140" damage_rect="205 0 59 140"/>
        <car id="7"  name="Autobus" texture_rect="179 156 102 273" damage_rect="187 156 86 273"/>
        <car id="8"  name="Bus" texture_rect="301 0 70 158" damage_rect="306 0 59 157"/>
        <car id="9"  name="Truck" texture_rect="284 177 104 254" damage_rect="296 177 80 253"/>
        <car id="10" name="Medium_Car" texture_rect="404 0 64 159" damage_rect="406 0 61 157"/>
        <car id="11" name="Fire_Truck" texture_rect="387 175 83 159" damage_rect="400 175 75 159"/>
        <car id="12" name="Car" texture_rect="506 0 63 159" damage_rect="510 0 55 124"/>
        <car id="13" name="Truck" texture_rect="491 146 94 284" damage_rect="498 146 80 283"/>
      </cars>
    </animation>

    <sobering_up step_time="5000" step_alkohol_level="0.1"/>
  </game>

  <players>
    <player id="Arek" score="10" time="15"/>
  </players>

</config>